body {
  background: #38bbd7;
}

.app-title {
  color: #164e5b !important;
}

.app-logo {
  background: #164e5b;
  color: white;
  border-radius: 100px;
  width: 60px !important;
  height: 60px !important;
  padding: 12px 3px 0px 0px !important;
}

.artist-profile {
  text-align: left;
  background: #2794ad;
}

.artist-profile .content {
  padding-top: 10px !important;
}

.artist-profile .image {
  width: 200px !important;
  border: solid 5px white;
}

.track .card .header {
  padding-top: 10px;
}

.track-button {
  background: #164e5b;
  color: white;
  border-radius: 100px;
  width: 80px !important;
  height: 80px !important;
  padding: 12px 3px 0px 0px !important;
  position: absolute;
  top: 29%;
  left: 35%;
  opacity: 0;
}

.track-thumb:hover .track-button {
  opacity: 0.8;
  animation-name: fade-in;
  animation-duration: 0.7s;
}

.track-button .icon {
  font-size: 35px;
  margin-left: 13px;
  margin-top: 17px;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 0.8; }
}

@keyframes moving-button {
    0% { transform: translateY(0); }
    50% { transform: translateY(0.35em); }
    100% { transform: translateY(0); }
}

.github-button {
  position: fixed;
  margin: 2em;
  bottom: 0;
  left: 0;
  animation: moving-button 1.5s ease-in-out infinite;
  zIndex: 6;
}
