body {
  background: #38bbd7;
}

.app-title {
  color: #164e5b !important;
}

.app-logo {
  background: #164e5b;
  color: white;
  border-radius: 100px;
  width: 60px !important;
  height: 60px !important;
  padding: 12px 3px 0px 0px !important;
}

.artist-profile {
  text-align: left;
  background: #2794ad;
}

.artist-profile .content {
  padding-top: 10px !important;
}

.artist-profile .image {
  width: 200px !important;
  border: solid 5px white;
}

.track-play {
  width: 220px;
  height: 220px;
}

.track-play-inner {
  text-align: center;
  font-seize: 25px;
  background-color: black;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  color: white;
  padding-top: 13px;
  padding-left: 80px;
  /*margin-top: 80px;*/
  opacity: 0;
}

.track-play-inner:hover {
  opacity: 0.8;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 0.8; }
}
